body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.icons {
  font-size: 65px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.container {
  padding: 1rem !important;
}

.columns {
  row-gap: 1rem;
}

.modal-container {
  background-color: #ecfde8;
}

.tile-background {
  background-color: red;
}
#navigation {
  position: relative;
  z-index: 25;
}
