html {
  height: 100%;
}
body {
  a {
    cursor: pointer !important;
  }
  //background-color: #83ff6c !important;
  height: 100%;
  margin: 0;
  main {
    // background-color: #ecfde8;
    padding: 1rem;
    background-color: #ffffff;
    color: #4d603e;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    align-items: center;
    // position: absolute;
    // bottom: 0px;
    h1 {
      font-size: 48px;
      font-weight: 900;
    }
    p {
      font-size: 20px;
      font-weight: 200;
      padding: 50px;
    }
    a {
      border-radius: 10px !important;
    }
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}

.menu {
  padding: 0;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.icons {
  background-color: #ecfde8;
  height: 250px;
  display: flex;
  align-items: center;
}
